<div class = "divdetails">
    <div style = "text-align:center">
       <h1>
        Manage Current Plan
       </h1>
    </div>
    
    <h2>Current Plan Details: </h2>
    <ul>
       <li>
          <h2>
              <span >Plan Name:{{planName}}</span> 
          </h2>
       </li>
       <li>
          <h2>
              <span>Asset Name:{{assetName}}</span> 
          </h2>
       </li>
       <li>
          <h2>
              <span>Quantity:{{quantity}}</span> 
          </h2>
       </li>
       <li>
          <h2>
              <span>Rate:{{rate}}</span> 
          </h2>
       </li>
       <li>
          <h2>
              <span>Term:{{term}}</span> 
          </h2>
       </li>
       <li>
          <h2>
              <span>Total:{{total}}</span> 
          </h2>
       </li>
       <li>
          <h2>
              <span>Net Total:{{netTotal}}</span> 
          </h2>
       </li>
       <li>
          <h2>
              <span>Discount(in %):{{discount}}</span> 
          </h2>
       </li>
       <li>
          <h2>
              <span>Grand Total:{{grandTotal}}</span> 
          </h2>
       </li>
    </ul>

   <button mat-raised-button color="accent" type="button" (click)="goBack()" class="mr-1">Back</button>
 </div>