<mat-card class="default">
  <mat-card-header>
    <mat-card-title><strong>{{title}} Society Admin User</strong></mat-card-title>
  </mat-card-header>
  <mat-card-content class="mb-0 px-1">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <form [formGroup]="userForm">
      <ng-template matStepLabel>User information</ng-template>
      <div fxLayout="row" fxLayoutWrap="wrap">
        <div fxFlex="100" fxFlex.gt-md="100" ngClass.gt-md="pr-1">
          <div fxLayoutAlign.gt-xs="space-between start" fxLayout.xs="column">
            <mat-form-field fxFlex="100" fxFlex.gt-xs="32">
              <mat-select formControlName="societyid" placeholder="Please Select Society" (selectionChange)="onSelectSociety($event.value)">
                <mat-option *ngFor="let society of societies" [value]="society.id">
                  {{society.societyName}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="societyid.invalid && (societyid.dirty || societyid.touched)" class="alert alert-danger">
                <mat-error *ngIf="societyid.errors.required">
                  Society name is required.
                </mat-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="100" fxFlex.gt-xs="32">
              <input matInput placeholder="Username" type="text" minlength="3" maxlength="30" formControlName="username"
                required>
              <mat-error *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                <mat-error *ngIf="username.errors.required">
                  Username is required.
                </mat-error>
                <mat-error *ngIf="username.errors.minlength">
                  Username must be at least 3 characters long.
                </mat-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="100" fxFlex.gt-xs="32">
              <input matInput placeholder="Email Id" type="text" minlength="5" maxlength="40" formControlName="email"
                required>
              <mat-error *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                <mat-error *ngIf="email.errors.required">
                  Email id is required.
                </mat-error>
                <mat-error *ngIf="email.errors.email">
                  Email must be a valid email address
                </mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayoutAlign.gt-xs="space-between start" fxLayout.xs="column">
            <mat-form-field fxFlex="100" fxFlex.gt-xs="48.50">
              <input matInput placeholder="First Name" type="text" minlength="3" maxlength="15"
                pattern="[a-zA-Z][a-zA-Z ]+" formControlName="firstname" required>
              <mat-error *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert alert-danger">
                <mat-error *ngIf="firstname.errors.required">
                  First Name is required.
                </mat-error>
                <mat-error *ngIf="firstname.errors.pattern">
                  First Name should not contain number or symbols
                </mat-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="100" fxFlex.gt-xs="48.50">
              <input matInput placeholder="Last Name" type="text" minlength="3" maxlength="15"
                pattern="[a-zA-Z][a-zA-Z ]+" formControlName="lastname" required>
              <mat-error *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-danger">
                <mat-error *ngIf="lastname.errors.required">
                  Last Name is required.
                </mat-error>
                <mat-error *ngIf="lastname.errors.pattern">
                  Last Name should not contain number or symbols
                </mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayoutAlign.gt-xs="space-between start" fxLayout.xs="column">
            <mat-form-field fxFlex="100" fxFlex.gt-xs="23">
              <input matInput placeholder="Contact No" type="text" minlength="3" maxlength="15" pattern="[0-9]*"
                formControlName="contactno" required>
              <mat-error *ngIf="contactno.invalid && (contactno.dirty || contactno.touched)" class="alert alert-danger">
                <mat-error *ngIf="contactno.errors.required">
                  Contact number is required.
                </mat-error>
                <mat-error *ngIf="contactno.errors.pattern">
                  Contact number should not contain alphabet.
                </mat-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="100" fxFlex.gt-xs="23">
              <input matInput placeholder="Alternate Contact No" type="text" minlength="3" maxlength="15"
                pattern="[0-9]*" formControlName="colone">
              <mat-error *ngIf="colone.invalid && (colone.dirty || colone.touched)" class="alert alert-danger">
                <mat-error *ngIf="colone.errors.pattern">
                  Alternate Contact number should not contain alphabet.
                </mat-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="100" fxFlex.gt-xs="23">
              <input matInput [matDatepicker]="picker1" placeholder="Date of Birth" [max]="maxDate"
                formControlName="dob" required>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <mat-hint>Format: mm-dd-yyyy</mat-hint>
              <mat-error *ngIf="dob.invalid && (dob.dirty || dob.touched)" class="alert alert-danger">
                <mat-error *ngIf="dob.errors.required">
                  Date of Birth is required.
                </mat-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="100" fxFlex.gt-xs="23">
              <mat-select placeholder="Select Gender" formControlName="gender" required>
                <mat-option value="M">Male</mat-option>
                <mat-option value="F">Female</mat-option>
                <mat-option value="O">Other</mat-option>
              </mat-select>
              <mat-error *ngIf="gender.invalid && (gender.dirty || gender.touched)" class="alert alert-danger">
                <mat-error *ngIf="gender.errors.required">
                  Please select gender
                </mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayoutAlign.gt-xs="space-between start" fxLayout.xs="column">
            <mat-form-field fxFlex="100" fxFlex.gt-xs="32">
              <input matInput placeholder="Apartment No/Name" type="text" maxlength="30" formControlName="apartment"
                required>
              <mat-error *ngIf="apartment.invalid && (apartment.dirty || apartment.touched)" class="alert alert-danger">
                <mat-error *ngIf="apartment.errors.required">
                  Please enter apartment name.
                </mat-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="100" fxFlex.gt-xs="32">
              <input matInput placeholder="Address Line 1" type="text" maxlength="80" formControlName="streetno"
                required>
              <mat-error *ngIf="streetno.invalid && (streetno.dirty || streetno.touched)" class="alert alert-danger">
                <mat-error *ngIf="streetno.errors.required">
                  Please enter apartment name.
                </mat-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="100" fxFlex.gt-xs="32">
              <input matInput placeholder="Address Line 2" type="text" maxlength="80" formControlName="streetname"
                required>
              <mat-error *ngIf="streetname.invalid && (streetname.dirty || streetname.touched)"
                class="alert alert-danger">
                <mat-error *ngIf="streetname.errors.required">
                  Please enter Address.
                </mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayoutAlign.gt-xs="space-between start" fxLayout.xs="column">
            <mat-form-field fxFlex="100" fxFlex.gt-xs="23">
              <input matInput placeholder="City" type="text" maxlength="30" pattern="[a-zA-Z][a-zA-Z ]+"
                formControlName="city">
              <mat-error *ngIf="city.invalid && (city.dirty || city.touched)" class="alert alert-danger">
                <mat-error *ngIf="city.errors.required">
                  Please enter city.
                </mat-error>
                <mat-error *ngIf="city.errors.pattern">
                  City Should not contain numbers or symbols.
                </mat-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="100" fxFlex.gt-xs="22">
              <input matInput placeholder="Postal code" type="text" maxlength="10" formControlName="postalcode">
              <mat-error *ngIf="postalcode.invalid && (postalcode.dirty || postalcode.touched)"
                class="alert alert-danger">
                <mat-error *ngIf="postalcode.errors.required">
                  Please enter postalcode.
                </mat-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="100" fxFlex.gt-xs="23">
              <mat-select placeholder="Select Country" name="country" formControlName="country"
                (selectionChange)="onSelect($event.value)">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let obj of countries" [value]="obj">
                  {{ obj }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="country.invalid && (country.dirty || country.touched)" class="alert alert-danger">
                <mat-error *ngIf="country.errors.required">
                  Please enter country.
                </mat-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="100" fxFlex.gt-xs="22">
              <mat-select placeholder="Select State" name="province" formControlName="province">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let obj of states" [value]="obj.name">
                  {{ obj.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="province.invalid && (province.dirty || province.touched)" class="alert alert-danger">
                <mat-error *ngIf="province.errors.required">
                  Please enter province.
                </mat-error>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutWrap="wrap">
        <div fxFlex="100" fxFlex.gt-md="60" ngClass.gt-md="pr-1">
          <div fxLayoutAlign.gt-xs="space-between start" fxLayout.xs="column">
            <mat-form-field fxFlex="100" fxFlex.gt-xs="97">
              <input matInput #file2 placeholder="Choose image" class="pointer--cursor" (click)="upload2.click()">
              <input [hidden]="true" type="file" #upload2 (change)="uploadFile($event, file2)" />
            </mat-form-field>
            <button type="button" mat-button color="accent" mat-mini-fab (click)="upload2.click()"
              matTooltip="Choose user image">
              <mat-icon>attachment</mat-icon>
            </button>
          </div>
        </div>
        <div fxFlex="100" fxFlex.gt-md="5" ngClass.gt-md="pr-1">
        </div>
        <div fxFlex="100" fxFlex.gt-md="35" ngClass.gt-md="pr-1">
          <div class="profile__pic" fxFlex="100" fxFlex.gt-xs="24">
            <img [src]="url" alt="User Image" height="150" width=150 class="user">
          </div>
          <br>
        </div>
      </div>
      <div fxLayout="row" fxLayoutWrap="wrap">
        <div fxFlex="100" fxFlex.gt-md="70" ngClass.gt-md="pr-1">
          <div>
            <label class="mr-1 mat-body-3">&nbsp;Status:</label>
            <mat-radio-group fxFlex="100" fxLayoutGap=".5rem" formControlName="status">
              <mat-radio-button value="Y">YES</mat-radio-button>
              <mat-radio-button value="N">NO</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <br>
      <div>
        <button mat-raised-button color="accent" type="button" (click)="goBack()" class="mr-1">Back</button>
        <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="userForm.invalid">Submit</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>