<!-- Dashboard card row -->
<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
    <mat-card>
      <mat-card-title fxLayoutAlign="start center">
        <small class="text-muted">Total Sales</small>
        <span fxFlex></span>
        <mat-chip class="icon-chip" color="primary" selected="true">
          <mat-icon>trending_up</mat-icon>0%
        </mat-chip>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">0</h3>
        <!-- <small class="text-muted">Monthly</small> -->
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
    <mat-card>
      <mat-card-title>
        <small class="text-muted">Total Purchase</small>
        <span fxFlex></span>
        <mat-chip class="icon-chip" color="accent" selected="true">
          <mat-icon>trending_up</mat-icon>0%
        </mat-chip>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">0</h3>
        <!-- <small class="text-muted">Monthly</small> -->
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
    <mat-card>
      <mat-card-title fxLayoutAlign="start center">
        <small class="text-muted">Total Users</small>
        <span fxFlex></span>
        <mat-chip class="icon-chip" color="primary" selected="true">
          <mat-icon>trending_up</mat-icon>0%
        </mat-chip>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">0</h3>
        <!-- <small class="text-muted">Monthly</small> -->
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
    <mat-card>
      <mat-card-title>
        <small class="text-muted">Total Products</small>
        <span fxFlex></span>
        <mat-chip class="icon-chip" color="accent" selected="true">
          <mat-icon>trending_up</mat-icon>0%
        </mat-chip>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">0</h3>
        <!-- <small class="text-muted">Monthly</small> -->
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!-- Dashboard card row -->
<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
    <mat-card>
      <mat-card-title>
        <small class="text-muted">Total Customers</small>
        <span fxFlex></span>
        <mat-chip class="icon-chip" color="accent" selected="true">
          <mat-icon>trending_up</mat-icon>0%
        </mat-chip>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">0</h3>
        <!-- <small class="text-muted">Monthly</small> -->
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
    <mat-card>
      <mat-card-title>
        <small class="text-muted">Total Vendors</small>
        <span fxFlex></span>
        <mat-chip class="icon-chip" color="primary" selected="true">
          <mat-icon>trending_up</mat-icon>0%
        </mat-chip>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">0</h3>
        <!-- <small class="text-muted">Monthly</small> -->
      </mat-card-content>
    </mat-card>
  </div>




  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
    <mat-card>
      <mat-card-title>
        <small class="text-muted">Total Row Material</small>
        <span fxFlex></span>
        <mat-chip class="icon-chip" color="accent" selected="true">
          <mat-icon>trending_up</mat-icon>0%
        </mat-chip>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">0</h3>
        <!-- <small class="text-muted">Monthly</small> -->
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
    <mat-card>
      <mat-card-title>
        <small class="text-muted">Total Packages</small>
        <span fxFlex></span>
        <mat-chip class="icon-chip" color="primary" selected="true">
          <mat-icon>trending_up</mat-icon>0%
        </mat-chip>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">0</h3>
        <!-- <small class="text-muted">Monthly</small> -->
      </mat-card-content>
    </mat-card>
  </div>
</div>