<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" >
    <mat-card routerLink="/society/adminusers">
      <mat-card-title fxLayoutAlign="start center">
        <small class="text-muted">Total User</small>
        <span fxFlex></span>
        <mat-chip class="icon-chip" color="primary" selected="true">
          <mat-icon>trending_up</mat-icon>0%
        </mat-chip>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">{{counterDto?.userCount}}</h3>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
    <mat-card routerLink="/society/security-users">
      <mat-card-title>
        <small class="text-muted">Total Security User</small>
        <span fxFlex></span>
        <mat-chip class="icon-chip" color="accent" selected="true">
          <mat-icon>trending_up</mat-icon>0%
        </mat-chip>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">{{counterDto?.securityCount}}</h3>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
    <mat-card routerLink="/society/daily-staff">
      <mat-card-title fxLayoutAlign="start center">
        <small class="text-muted">Total Daily Staff</small>
        <span fxFlex></span>
        <mat-chip class="icon-chip" color="primary" selected="true">
          <mat-icon>trending_up</mat-icon>0%
        </mat-chip>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">{{counterDto?.staffCount}}</h3>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
    <mat-card routerLink="/society/residents">
      <mat-card-title>
        <small class="text-muted">Total Residents</small>
        <span fxFlex></span>
        <mat-chip class="icon-chip" color="accent" selected="true">
          <mat-icon>trending_up</mat-icon>0%
        </mat-chip>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">{{counterDto?.residentCount}}</h3>
      </mat-card-content>
    </mat-card>
  </div>
</div>