<h1 mat-dialog-title>{{title}} Role</h1>
<div mat-dialog-content>
  <form class="mat-dialog-content" #formControl="ngForm">
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input minlength="2" maxlength="30" class="form-control" placeholder="Role Name" appSpecialCharacter [(ngModel)]="role.name"
          name="role" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input minlength="2" class="form-control" placeholder="Description" [(ngModel)]="role.description"
          name="description"></textarea>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutWrap="wrap">
      <div fxFlex="100" fxFlex.gt-md="100" ngClass.gt-md="pr-1">
        <div>
          <label class="mr-1 mat-body-3">Status:</label>
          <mat-radio-group fxFlex="100" fxLayoutGap=".5rem" name="status" [(ngModel)]="role.status" required>
            <mat-radio-button value="Y">Active</mat-radio-button>
            <mat-radio-button value="N">Inactive</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
    <br>
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!formControl.valid || disableButton" class="mr-1"
        (click)="confirmAdd()">{{disableButton? 'Saving...': 'Save'}}</button>
      <button mat-raised-button color="accent" (click)="onNoClick()" tabindex="" x="-1">Cancel</button>
    </div>
    <br/>
  </form>
</div>
