<mat-card class="p-0">
  <mat-card-title class="">
    <div class="card-title-text">{{title}} Staff</div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    <div class="example-loading-shade" *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <form [formGroup]="dailystaffForm">
      <ng-template matStepLabel>Resident information</ng-template>
      <div fxLayout="row" fxLayoutWrap="wrap">
        <div fxFlex="100" fxFlex.gt-md="100" ngClass.gt-md="pr-1">
          <div fxLayoutAlign.gt-xs="space-between start" fxLayout.xs="column">
            <mat-form-field fxFlex="100" fxFlex.gt-xs="48.5">
              <input matInput placeholder="First Name" type="text" required> 
              <!-- <mat-error *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                <mat-error *ngIf="username.errors.required">
                  First name is required.
                </mat-error>
              </mat-error> -->
            </mat-form-field>
            <mat-form-field fxFlex="100" fxFlex.gt-xs="48.50">
              <input matInput placeholder="Last Name" type="text" formControlName="lastname" required>
              <!-- <mat-error *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-danger">
                <mat-error *ngIf="lastname.errors.required">
                  Last Name is required.
                </mat-error>
              </mat-error> -->
            </mat-form-field>
          </div>
          <div fxLayoutAlign.gt-xs="space-between start" fxLayout.xs="column">
              <mat-form-field fxFlex="100" fxFlex.gt-xs="48.50">
                  <input matInput placeholder="Profile" type="text" minlength="3" maxlength="15"
                    formControlName="profile" required>
                  <!-- <mat-error *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-danger">
                    <mat-error *ngIf="lastname.errors.required">
                      Profile is required.
                    </mat-error>
                  </mat-error> -->
                </mat-form-field>
            <mat-form-field fxFlex="100" fxFlex.gt-xs="48.5">
              <input matInput placeholder="Email Id" type="text" minlength="5" maxlength="40" formControlName="email"
                required>
              <!-- <mat-error *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                <mat-error *ngIf="email.errors.required">
                  Email ID is required.
                </mat-error>
              </mat-error> -->
            </mat-form-field>
            
          </div>
          <div fxLayoutAlign.gt-xs="space-between start" fxLayout.xs="column">
            <mat-form-field fxFlex="100" fxFlex.gt-xs="35">
              <input matInput placeholder="Contact No" type="text" minlength="3" maxlength="15"
                formControlName="contactno" required>
              <!-- <mat-error *ngIf="contactno.invalid && (contactno.dirty || contactno.touched)" class="alert alert-danger">
                <mat-error *ngIf="contactno.errors.required">
                  Contact number is required.
                </mat-error>
              </mat-error> -->
            </mat-form-field>

            <mat-form-field fxFlex="100" fxFlex.gt-xs="35">
              <input matInput placeholder="Alternate Contact No" type="text" minlength="3" maxlength="15"
                formControlName="alternatecontact" required>
              <!-- <mat-error *ngIf="alternatecontact.invalid && (alternatecontact.dirty || alternatecontact.touched)"
                class="alert alert-danger">
                <mat-error *ngIf="alternatecontact.errors.required">
                  Alternate Contact number is required.
                </mat-error>
              </mat-error> -->
            </mat-form-field>

            <mat-form-field fxFlex="100" fxFlex.gt-xs="25">
              <mat-select placeholder="Select Gender" formControlName="gender" required>
                <mat-option value="M">Male</mat-option>
                <mat-option value="F">Female</mat-option>
                <mat-option value="O">Other</mat-option>
              </mat-select>
              <!-- <mat-error *ngIf="gender.invalid && (gender.dirty || gender.touched)" class="alert alert-danger">
                <mat-error *ngIf="gender.errors.required">
                  Please select gender
                </mat-error>
              </mat-error> -->
            </mat-form-field>
          </div>

          <div fxLayoutAlign.gt-xs="space-between start" fxLayout.xs="column">
            <mat-form-field fxFlex="100" fxFlex.gt-xs="35">
              <input matInput placeholder="Society ID" type="number" formControlName="societyid" required>
              <!-- <mat-error *ngIf="contactno.invalid && (contactno.dirty || contactno.touched)" class="alert alert-danger">
                <mat-error *ngIf="contactno.errors.required">
                  Society ID is required.
                </mat-error>
              </mat-error> -->
            </mat-form-field>

            <mat-form-field fxFlex="100" fxFlex.gt-xs="35">
              <input matInput placeholder="Resident ID" type="number" formControlName="residentid" required>
              <!-- <mat-error *ngIf="contactno.invalid && (contactno.dirty || contactno.touched)" class="alert alert-danger">
                <mat-error *ngIf="contactno.errors.required">
                  Resident ID is required.
                </mat-error>
              </mat-error> -->
            </mat-form-field>

            <mat-form-field fxFlex="100" fxFlex.gt-xs="25">
              <input matInput placeholder="Age" type="number" formControlName="age" required>
              <!-- <mat-error *ngIf="contactno.invalid && (contactno.dirty || contactno.touched)" class="alert alert-danger">
                <mat-error *ngIf="contactno.errors.required">
                  Age is required.
                </mat-error>
              </mat-error> -->
            </mat-form-field>
          </div>
          <label>Address</label>
          <div fxLayoutAlign.gt-xs="space-between start" fxLayout.xs="column">
            <mat-form-field fxFlex="100" fxFlex.gt-xs="35">
              <input matInput placeholder="Street Number" type="text" formControlName="streetno" required>
              <!-- <mat-error *ngIf="contactno.invalid && (contactno.dirty || contactno.touched)" class="alert alert-danger">
                <mat-error *ngIf="contactno.errors.required">
                  Street Number is required.
                </mat-error>
              </mat-error> -->
            </mat-form-field>

            <mat-form-field fxFlex="100" fxFlex.gt-xs="35">
              <input matInput placeholder="Street Name" type="text" formControlName="streetname" required>
              <!-- <mat-error *ngIf="contactno.invalid && (contactno.dirty || contactno.touched)" class="alert alert-danger">
                <mat-error *ngIf="contactno.errors.required">
                  Street Name is required.
                </mat-error>
              </mat-error> -->
            </mat-form-field>

            <mat-form-field fxFlex="100" fxFlex.gt-xs="25">
              <input matInput placeholder="Postalcode" type="text" formControlName="postalcode" required>
              <!-- <mat-error *ngIf="contactno.invalid && (contactno.dirty || contactno.touched)" class="alert alert-danger">
                <mat-error *ngIf="contactno.errors.required">
                  Postalcode is required.
                </mat-error>
              </mat-error> -->
            </mat-form-field>            
          </div>
          <div fxLayoutAlign.gt-xs="space-between start" fxLayout.xs="column">
            <mat-form-field fxFlex="100" fxFlex.gt-xs="35">
              <input matInput placeholder="City" type="text" formControlName="city" required>
              <!-- <mat-error *ngIf="contactno.invalid && (contactno.dirty || contactno.touched)" class="alert alert-danger">
                <mat-error *ngIf="contactno.errors.required">
                  City is required.
                </mat-error>
              </mat-error> -->
            </mat-form-field>

            <mat-form-field fxFlex="100" fxFlex.gt-xs="35">
              <mat-select placeholder="Province" formControlName="province" required>
                <mat-option value="M">Male</mat-option>
                <mat-option value="F">Female</mat-option>
                <mat-option value="O">Other</mat-option>
              </mat-select>
              <!-- <mat-error *ngIf="gender.invalid && (gender.dirty || gender.touched)" class="alert alert-danger">
                <mat-error *ngIf="gender.errors.required">
                  Please select province
                </mat-error>
              </mat-error> -->
            </mat-form-field>

            <mat-form-field fxFlex="100" fxFlex.gt-xs="25">
              <mat-select placeholder="country" formControlName="country" required>
                <mat-option value="M">Male</mat-option>
                <mat-option value="F">Female</mat-option>
                <mat-option value="O">Other</mat-option>
              </mat-select>
              <!-- <mat-error *ngIf="gender.invalid && (gender.dirty || gender.touched)" class="alert alert-danger">
                <mat-error *ngIf="gender.errors.required">
                  Please select country
                </mat-error>
              </mat-error> -->
            </mat-form-field>
          </div>
           <!-- <div fxLayoutAlign.gt-xs="space-between start" fxLayout.xs="column"> 
            <mat-form-field fxFlex="100" fxFlex.gt-xs="35"> 
              <input matInput placeholder="Wing Name/No" type="text" maxlength="30" formControlName="apartment"
                required>
            </mat-form-field>
            <mat-form-field fxFlex="100" fxFlex.gt-xs="35">
              <input matInput placeholder="Floor Number" type="text" maxlength="80" formControlName="floornumber" required>
            </mat-form-field>
            <mat-form-field fxFlex="100" fxFlex.gt-xs="25">
              <input matInput placeholder="Flat Number" type="text" maxlength="80" formControlName="flatnumber" required>
            </mat-form-field> 
       </div>  -->
        </div>
      </div>
      <div fxLayout="row" fxLayoutWrap="wrap">
        <div fxFlex="100" fxFlex.gt-md="60" ngClass.gt-md="pr-1">
          <div fxLayoutAlign.gt-xs="space-between start" fxLayout.xs="column">
            <mat-form-field fxFlex="100" fxFlex.gt-xs="97">
              <input matInput #file2 placeholder="Choose image" class="pointer--cursor" (click)="upload2.click()">
              <input [hidden]="true" type="file" #upload2 (change)="uploadFile($event, file2)" />
            </mat-form-field>
            <button type="button" mat-button color="accent" mat-mini-fab (click)="upload2.click()"
              matTooltip="Choose user image">
              <mat-icon>attachment</mat-icon>
            </button>
          </div>
        </div>
        <div fxFlex="100" fxFlex.gt-md="5" ngClass.gt-md="pr-1">
        </div>
        <div fxFlex="100" fxFlex.gt-md="35" ngClass.gt-md="pr-1">
          <div class="profile__pic" fxFlex="100" fxFlex.gt-xs="24">
            <img [src]="url" alt="User Image" class="user">
          </div>
          <br>
        </div>
      </div>
      <div fxLayout="row" fxLayoutWrap="wrap">
        <div fxFlex="100" fxFlex.gt-md="70" ngClass.gt-md="pr-1">
          <div>
            <label class="mr-1 mat-body-3">&nbsp;Status:</label>
            <mat-radio-group fxFlex="100" fxLayoutGap=".5rem" formControlName="status">
              <mat-radio-button value="Y">YES</mat-radio-button>
              <mat-radio-button value="N">NO</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <br>
      <div>
        <button mat-raised-button color="accent" type="button" (click)="goBack()" class="mr-1">Back</button>
        <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="dailystaffForm.invalid">Submit</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>