<!-- Dashboard card row -->
<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
    <mat-card>
      <mat-card-title fxLayoutAlign="start center">
        <small class="text-muted">Total Society</small>
        <span fxFlex></span>
        <mat-chip
        class="icon-chip" 
        color="primary" 
        selected="true"><mat-icon>trending_up</mat-icon></mat-chip>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">0</h3>
        <!-- <small class="text-muted">All</small> -->
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
    <mat-card>
      <mat-card-title>
        <small class="text-muted">Admin Users</small>
        <span fxFlex></span>
        <mat-chip
        class="icon-chip" 
        color="accent" 
        selected="true"><mat-icon>trending_up</mat-icon></mat-chip>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">0</h3>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
    <mat-card>
      <mat-card-title>
        <small class="text-muted">Society Users</small>
        <span fxFlex></span>
        <mat-chip
        class="icon-chip" 
        color="accent" 
        selected="true"><mat-icon>trending_up</mat-icon></mat-chip>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">0</h3>
        <!-- <small class="text-muted">All</small> -->
      </mat-card-content>
    </mat-card>
  </div>
  
  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
    <mat-card>
      <mat-card-title>
        <small class="text-muted">Sales Executive</small>
        <span fxFlex></span>
        <mat-chip
        class="icon-chip" 
        color="warn" 
        selected="true"><mat-icon>trending_up</mat-icon></mat-chip>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">13</h3>
        <!-- <small class="text-muted">Last Month</small> -->
      </mat-card-content>
    </mat-card>
  </div>
</div>